# Temporary editor files
*~
.*.swp

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Ephemerides and clock stuff
datafiles/de405.bsp
datafiles/de421.bsp
datafiles/de430t.bsp
datafiles/earth_latest_high_prec.bpc
datafiles/naif0010.tls
datafiles/pck00010.tpc
