# Temporary editor files
*~
.*.swp

*.py[cod]

# C extensions
*.so
#pickle
*.pickle.gz
pint/cutils/str2ld_py.c

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage
doc/_build
doc/api

# Translations
*.mo

# Ephemerides and clock stuff
de405.bsp
de421.bsp
de430t.bsp
earth_latest_high_prec.bpc
naif0010.tls
naif0011.tls
naif0012.tls
pck00010.tpc
de-403-masses.tpc

# Pickles of .tim files
*.tim.pickle.gz

# TEMPO stuff
*matrix.tmp
*resid2.tmp
*tempo.lis

# ipython notebook temps
.ipynb_checkpoints

.idea
.cache
