include versioneer.py
include pint/extern/_version.py
include database_urls.txt
include database_urls_md5.txt
include update_datafile_md5.py
docs/examples/*.par
docs/examples/*.tim
docs/examples/*.fits
docs/examples/template*
