numpy>=1.16.0
astropy>=2.0.15; python_version < "3.0"
astropy>=3.2,<=4.0; python_version >="3.0"
scipy>=0.18.1
jplephem>=2.6
matplotlib>=1.5.3
emcee>=3.0
corner>=2.0.1
uncertainties
pathlib2; python_version < "3.0"
