attrs>=19.2
pip>=9.0.1
setuptools>=41.0
coverage>=4.3.4
traitlets
Sphinx==6.2.1
astropy>=4.0,!=4.0.1,!=4.0.1.post1
#astropy-helpers>=1.3
sphinx-rtd-theme==1.2.2
coveralls>=1.1
wheel>=0.29.0
pytest>=4.3
pytest-cov>=2.7.1
pytest-runner>=5.1
flake8>=3.7
pep8-naming>=0.8.2
flake8-docstrings>=1.4
flake8-rst-docstrings>=0.0.11
flake8-diff>=0.2.2
pluggy>=0.12.0
jupyter
nbconvert
nbsphinx
nbdime
pandoc
hypothesis
jupytext
pdbpp
tox
pre-commit
typed-ast>=1.5.0
#black>=19.0a0,<20.0a0
black~=23.0
pygments
ipython
pathlib2
twine
numdifftools
loguru
# click<=8.0.4
gprof2dot
py-cpuinfo
pytest-xdist
